
<!-- List.html -->
<style type="text/css">
    .form-horizontal .control-label {
        text-align: left;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            xy_sp_task
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-1 control-label">查询条件</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" ng-model="Keyword" />
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-info btn-block" ng-click="Search()">查询</button>
                            </div>                          
                        </div>
                        <div class="form-group">
                            <div class="col-md-1">
                                <button type="button" class="btn btn-info btn-block" ng-click="Add()">新建</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="overflow-x:scroll;width:100%;">
                    <table class="table table-responsive table-striped table-bordered">
                        <thead>
                            <tr>
                                                        	                      		                            	                                <th style="min-width:100px;"> 地图ID</th>
                      		                      		                            	                                <th style="min-width:100px;"> 地图名称</th>
                      		                      		                            	                                <th style="min-width:100px;"> 地图坐标X</th>
                      		                      		                            	                                <th style="min-width:100px;"> 地图坐标Y</th>
                      		                      		                            	                                <th style="min-width:100px;"> 章节ID</th>
                      		                      		                            	                                <th style="min-width:100px;"> 章节名称</th>
                      		                      		                            	                                <th style="min-width:100px;"> 任务名称</th>
                      		                      		                            	                                <th style="min-width:100px;"> 任务描述</th>
                      		                      		                            	                                <th style="min-width:100px;"> 任务所属NPC</th>
                      		                      		                            	                                <th style="min-width:100px;"> 是否战斗任务</th>
                      		                      		                            	                                <th style="min-width:100px;"> 是否选择题</th>
                      		                      		                            	                                <th style="min-width:100px;"> 下一 任务ID</th>
                      		                      		                            	                                <th style="min-width:100px;"> 上一任务ID</th>
                      		                      		                      			<th style="min-width: 120px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in List">
                                                                  	                                                                 	                                                                    		<td>{{x.AddrID}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.AddrName}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.AddrX}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.AddrY}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.chapterID}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.chapterName}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.TaskName}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.TaskDescript}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.NpcName}}</td>
                                	                                	                                                                 	                                    							        	<td ng-if="x.IsBattleTask===true">是</td>
							        	<td ng-if="x.IsBattleTask===false">否</td>
							        	<!--<td ng-if="x.IsBattleTask===null>">否</td>-->
									                                	                                                                 	                                    							        	<td ng-if="x.IsOptionTask===true">是</td>
							        	<td ng-if="x.IsOptionTask===false">否</td>
							        	<!--<td ng-if="x.IsOptionTask===null>">否</td>-->
									                                	                                                                 	                                                                    		<td>{{x.NextTaskID}}</td>
                                	                                	                                                                 	                                                                    		<td>{{x.PreviousTaskID}}</td>
                                	                                	                                                                <td><a href="javascript:void(0);" ng-click="Edit(x)">编辑</a> <a href="javascript:void(0);" ng-click="Remove(x)">删除</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="pager" class="pull-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--遮罩层-->
<div class="loading-modal" ng-show="loading">
    <div class="loading">
        <img src="/Content/images/loading.gif" alt="" /><span>处理中，请稍候...</span>
    </div>
</div>