<div class="jumbotron">
    <h1>test</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr><td>姓名：</td><td>咔咔咔</td></tr>
            <tr><td>等级：</td><td>2</td></tr>
            <tr><td>生命：</td><td>87/100</td></tr>
            <tr><td>法力：</td><td>100/100</td></tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr><td>物理攻击力：</td><td>10</td></tr>
            <tr><td>物理防御力：</td><td>8</td></tr>
            <tr><td>魔法攻击力：</td><td>2</td></tr>
            <tr><td>魔法防御力：</td><td>3</td></tr>
        </table>
    </div>
</div>

    <div class="row">
        <div class="col-md-10">
            <table class="table table-bordered">
                <tr><td colspan="2">所处位置：南部瞻洲-长安</td></tr>
                <tr><td colspan="2">当前任务：</td></tr>
                <tr><td colspan="2"><input type="text" placeholder="任务描述......" /></td></tr>
                <tr><td>选项1：</td><td><p><a href="" class="btn btn-primary btn-large">战斗</a></p></td></tr>
                <tr><td>选项2：</td><td><p><a href="" class="btn btn-primary btn-large">撤退</a></p></td></tr>
            </table>
        </div>
        <div class="col-md-2">
            <table class="table table-bordered">
                <tr><td>头饰：</td><td>草帽</td></tr>
                <tr><td>衣服：</td><td>布衣</td></tr>
                <tr><td>裤子：</td><td>草裙</td></tr>
                <tr><td>鞋子：</td><td>草鞋</td></tr>
                <tr><td>武器：</td><td>木棍</td></tr>
            </table>
        </div>
    </div>
