
<!--详情页-->
<div class="container-fluid">
	<div class="panel panel-info">
	    <div class="panel-heading">
	        <strong><i class="fa fa-fw fa-medkit fa-lg"></i>xy_sp_task</strong>
	    </div>
	    <div class="panel-body">
	        <form class="form-horizontal" name="InfoForm">
	        		        		           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtAddrID">  地图ID</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtAddrID" ng-model="Info.AddrID"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtAddrName">  地图名称</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtAddrName" ng-model="Info.AddrName"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtAddrX">  地图坐标X</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtAddrX" ng-model="Info.AddrX"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtAddrY">  地图坐标Y</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtAddrY" ng-model="Info.AddrY"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtchapterID">  章节ID</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtchapterID" ng-model="Info.chapterID"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtchapterName">  章节名称</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtchapterName" ng-model="Info.chapterName"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtTaskName">  任务名称</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtTaskName" ng-model="Info.TaskName"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtTaskDescript">  任务描述</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtTaskDescript" ng-model="Info.TaskDescript"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtNpcName">  任务所属NPC</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtNpcName" ng-model="Info.NpcName"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtIsBattleTask">  是否战斗任务</label>                
		                			                	<div class="col-md-5">
			                	<select class="form-control" id="txtIsBattleTask" ng-model="Info.IsBattleTask">	
			                		<option value="">请选择</option>
			                		<option ng-repeat="c in SelectInfo" value="{{c.value}}">
			                                {{c.text}}
			                    	</option>
			   					</select>   
							</div>	   					
		   							            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtIsOptionTask">  是否选择题</label>                
		                			                	<div class="col-md-5">
			                	<select class="form-control" id="txtIsOptionTask" ng-model="Info.IsOptionTask">	
			                		<option value="">请选择</option>
			                		<option ng-repeat="c in SelectInfo" value="{{c.value}}">
			                                {{c.text}}
			                    	</option>
			   					</select>   
							</div>	   					
		   							            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtNextTaskID">  下一 任务ID</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtNextTaskID" ng-model="Info.NextTaskID"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtPreviousTaskID">  上一任务ID</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtPreviousTaskID" ng-model="Info.PreviousTaskID"  />
		                    </div>
		                    		            </div>
		            	           		            <div class="form-group">
	                <div class="col-md-2 col-md-offset-1">
	                    <button type="button" class="btn btn-info btn-block" ng-click="GoBack()"><i class="fa fa-fw fa-reply-all"></i>返回</button>
	                </div>
	                <div class="col-md-2 col-md-offset-1">
	                    <button type="button" class="col-md-2 btn btn-info btn-block" ng-disabled="InfoForm.$invalid" ng-click="Save()"><i class="fa fa-fw fa-save"></i>确定</button>
	                </div>
	            </div>
	        </form>
	    </div>
    </div>
</div>