
<!--详情页-->
<div class="container-fluid">
	<div class="panel panel-info">
	    <div class="panel-heading">
	        <strong><i class="fa fa-fw fa-medkit fa-lg"></i>xy_sp_outfit</strong>
	    </div>
	    <div class="panel-body">
	        <form class="form-horizontal" name="InfoForm">
	        		        		           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtEquipmentName">  套装名称</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtEquipmentName" ng-model="Info.EquipmentName"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtNeedLevel">  所需等级</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtNeedLevel" ng-model="Info.NeedLevel"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtPrice">  价格</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtPrice" ng-model="Info.Price"  />
		                    </div>
		                    		            </div>
		            	           		            <div class="form-group">
	                <div class="col-md-2 col-md-offset-1">
	                    <button type="button" class="btn btn-info btn-block" ng-click="GoBack()"><i class="fa fa-fw fa-reply-all"></i>返回</button>
	                </div>
	                <div class="col-md-2 col-md-offset-1">
	                    <button type="button" class="col-md-2 btn btn-info btn-block" ng-disabled="InfoForm.$invalid" ng-click="Save()"><i class="fa fa-fw fa-save"></i>确定</button>
	                </div>
	            </div>
	        </form>
	    </div>
    </div>
</div>