
<!--详情页-->
<div class="container-fluid">
	<div class="panel panel-info">
	    <div class="panel-heading">
	        <strong><i class="fa fa-fw fa-medkit fa-lg"></i>xy_sp_taskspirit</strong>
	    </div>
	    <div class="panel-body">
	        <form class="form-horizontal" name="InfoForm">
	        		        		           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtUserId">  用户id</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtUserId" ng-model="Info.UserId"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtSpiritID">  精灵ID</label>                
		                			                	<div class="col-md-5">
		                    	<input type="text" class="form-control" id="txtSpiritID" ng-model="Info.SpiritID"  />
		                    </div>
		                    		            </div>
		            	           		        			            <div class="form-group">
		                <label class="col-md-1 control-label" for="txtisBoos">  是否BOOS</label>                
		                			                	<div class="col-md-5">
			                	<select class="form-control" id="txtisBoos" ng-model="Info.isBoos">	
			                		<option value="">请选择</option>
			                		<option ng-repeat="c in SelectInfo" value="{{c.value}}">
			                                {{c.text}}
			                    	</option>
			   					</select>   
							</div>	   					
		   							            </div>
		            	           		            <div class="form-group">
	                <div class="col-md-2 col-md-offset-1">
	                    <button type="button" class="btn btn-info btn-block" ng-click="GoBack()"><i class="fa fa-fw fa-reply-all"></i>返回</button>
	                </div>
	                <div class="col-md-2 col-md-offset-1">
	                    <button type="button" class="col-md-2 btn btn-info btn-block" ng-disabled="InfoForm.$invalid" ng-click="Save()"><i class="fa fa-fw fa-save"></i>确定</button>
	                </div>
	            </div>
	        </form>
	    </div>
    </div>
</div>