@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr><td>金币：</td><td>100</td></tr>
                    <tr><td>经验：</td><td>100</td></tr>
                    <tr><td>装备：</td><td>木屐；桃木剑</td></tr>
                </table>
            </div>

        </div>
    </div>
</body>
</html>
