<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-2">
            我方信息
            <table class="table table-bordered">
                <tr><td>物理攻击力：10</td></tr>
                <tr><td>物理防御力：8</td></tr>
                <tr><td>魔法攻击力：2</td></tr>
                <tr><td>魔法防御力：3</td></tr>
                <tr><td>速度：10</td></tr>
            </table>
        </div>
        <div class="col-md-8">
            战斗及时信息
        </div>
        <div class="col-md-2">
            敌方信息
            <table class="table table-bordered">
                <tr><td>物理攻击力：10</td></tr>
                <tr><td>物理防御力：8</td></tr>
                <tr><td>魔法攻击力：2</td></tr>
                <tr><td>魔法防御力：3</td></tr>
                <tr><td>速度：10</td></tr>
            </table>
        </div>
    </div>
</body>
</html>




